a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

/* loading spinner div */
.loading {
  width: 580px;
  margin: 100px 230px;
}

/*
  ================= NavBar.jsx
                                */
.navContainer {
  min-width: 600px;
  width: 580px;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(125,76,219, 0.8);
}

.navBar {
  min-width: 150px;
  padding-right: 20px;
  text-align: right;
}

.nav {
  height: 50px;
  line-height: 50px;
}

.trainImage {
  position: relative;
  top: 5px;
}

.searchNav {
  margin-left: 40px;
}

.userNav {
  color: black;
  /* flex: 1; */
  margin: 0 5px 0 5px;
  text-decoration: none;
}

.logOutButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*
  ================= TripMap.jsx
                                */
.tripMap {
  height: 100%;
  width: 70%;
  z-index: 200;
  top: 0px;
  left: 600px;
  overflow: visible;
  position: fixed;
}

/*
  ================= SearchBar.jsx
                                */
.searchBarContainer {
  min-width: 40vw;
  margin: 0 20px;
  width: 580px;
}

.toFromContainer {
  padding-top: 20px;
  width: 350px;
  display: inline-block;
}

.searchButton {
  float: right;
}

/*
  ================= SearchResults.jsx
                                */
.searchContainer {
  margin-right: 20px;
  margin-top: 50px;
  display: block;
}

.searchHeader {
  width: 540px;
  border-top: 4px solid #7D4CDB;
  background-color: rgba(125,76,219, 0.2);
  padding: 15px 10px;
}

.addTripButton {
  position: relative;
  top: -4px;
  left: -5px;
  float: right;
}

.displayTripsContainer {
  padding: 15px 15px;
  display: block;
  height: 65vh;
  overflow: scroll;
  margin-top: 5px;
}

/*
  ================= DisplaySearch.jsx
                                */
.searchResult {
  width: 520px;
  line-height: 1.5em;
}

.tripTime {
  font-size: 1.2em;
  font-weight: bold;
}

.showTrip {
  float: right;
  margin: 0 10px 0 10px;
}

.totalDuration {
  margin: 0 10px 0 10px;
  font-size: 0.9em;
}

.searchNamesContainer {
  margin: 8px 0 2px 0;
}

.searchNamesContainer > span {
  display: block;
}

/*
  ================= FavTrips.jsx
                                */

.favTripContainer {
  width: 580px;
  padding: 15px 20px 0 0;
}

.favList {
  padding-right: 20px;
  padding: 0px;
}

.favTripItem {
  min-width: 300px;
  width: 560px;
  height: 100%;
  list-style: none;
  border-top: 1px solid grey;
}

/*
  ================= DisplayFavs.jsx
                                */

.favTripItem:hover {
  background-color: rgba(85, 2, 136, 0.1)
}

.favTripButton {
  width: 90%;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.favTripButton > span {
  line-height: 2em;
  text-align: left;
  display: block;
}

.trashButton {
  float: right;
}


/*
  ================= DisplayLegs.jsx
                                */
.tripLegs {
  line-height: 1.4em;
}

.showDetailsButton {
  float: right;
  padding: 0px;
  display: inline-block;
}

.showButtonText {
  font-weight: 300;
  opacity: 0.7;
}

.stopTimes {
  width: 100px;
  margin-right: 20px;
}

.stopNames {
  font-weight: 300;
}

/*
  ================= Login.jsx
                                */

.loginContainer {
  margin-left: 20px;
}

.labelLogin {
  padding: 5px;
  width: 100px;
  display: inline-block;
  text-align: left;
}

/*
  ================= SignUp.jsx
                                */

.signupContainer {
  margin-left: 20px;
}
