body {
  margin: 20px;
}

.displaySearchResults {
  width: 50vw;
}

.instructionsButton {
  display: inline-block;
  margin-left: 5px;
}

.tripTime {
  font-size: 1.2em;
}

.stopTimes {
  width: 100px;
  text-align: center;
  margin-right: 20px;
}

.showDetailsButton {
  display: inline-block;
}

.instructionsHeader {
  font-weight: bold;
  display: inline-block;
}

.routeCard {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.tripSummary {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid black;
}
