

.navContainer {
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgba(255, 161, 1, 0.58);
}


.navBar {
  /* display: flex; */
}

.nav {
  height: 50px;
  line-height: 50px;
}

.searchNav {
  margin-left: 40px;
}

.searchContainer {
  width: 500px;
  height: 100%;
  border: 1px solid black;
}

.displaySearchContainer {
  width: 500px;
  height: 100%;
  border: 1px solid black;
}

.displayTripBox {
  cursor: pointer;
  /* background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; */
}

.userNav {
  color: black;
  /* flex: 1; */
  margin: 0 5px 0 5px;
  text-decoration: none;
}

.nav:visited {
  text-decoration: none;
}

.logOutButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}



.displaySearchResults {
  width: 50vw;
}

.instructionsButton {
  display: inline-block;
  margin-left: 5px;
}

.tripTime {
  font-size: 1.2em;
}

.stopTimes {
  width: 100px;
  margin-right: 20px;
}

.showDetailsButton {
  display: inline-block;
}

.instructionsHeader {
  font-weight: bold;
  display: inline-block;
}

.totalDuration {
  margin: 0 10px 0 10px;
  font-size: 0.7em;
}

.showTrip {
  margin: 0 10px 0 10px;
}

.routeCard {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.tripSummary {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid black;
}
